$gray : #d3d3d3;
$green : #75B975;

.box {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}

.red {
  background: #FF796D;
}

#output {
  animation: flashy;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes flashy {
  0% {color: #000};
  50% {color: #fff};
  100% {color: #000};
}
